{box-sizing: border-box} 
input[type=text], input[type=password] ,input[type=datetime-local] ,input[type=number] { 
 width: 50%; 
 padding: 15px; 
 margin: 5px 0 22px 0; 
 display: inline-block; 
 border: none; 
 background: #f1f1f1; 
 border-radius: 20px; 
} 
input[type=reset] 
{width: 25%; 
 padding: 15px; 
 margin: 5px 0 22px 0; 
 display: inline-block; 
 border: none; 
 background: #f1f1f1; 
 border-radius: 20px;} 
input[type=text]:focus, input[type=password]:focus  
{ 
 background-color: #ddd; 
 outline: none; 
} 
hr  
{ 
 border: 1px solid #ddd; 
 margin-bottom: 25px;
} 
button  
{ 
 background-color:white;  color:black; 
 padding: 14px 20px;  margin: 8px 0; 
 border:1px solid; 
 cursor: pointer; 
 width: 25%; 
 opacity: 0.9; 
 border-radius: 20px; } 
button:hover  
{ 
 opacity:1; 
} 
.cancelbtn  
{ 
 padding: 14px 20px;  background-color: white; } 
.cancelbtn, .signupbtn  { 
 float: left; 
 width: 25%; 
} 
.container 
{ 
 padding: 16px; 
} 
.clearfix::after  
{ 
 content: ""; 
 clear: both; 
 display: table; 
} 
#footer 
{ 
text-align:center; 
font-size:150%; 
width:1320px; 
height: 100px; 
background-image:url(blackbg.jpg); 
} 
